
body {
    background-color: darkviolet;
    margin-right: 20%;
    margin-left: 20%;
    
}

h1 {
    text-align: center;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: white;
}
h2 {
    text-align: center;
}

img {
    border-radius: 50%;
    width: 10%;
    height: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    display: block;
    margin-left: 45%;
    margin-right: 45%;
}

#header {
background-color: white;
text-align: center;
}

#list {
   border-width: 1px;
   border-style: solid;
   border-color: black;
   padding: 15px;
   margin-left: 35%; 
}

a {
    background-color:#686868;
    box-shadow: 0 5px 0 black;
    color: white;
    padding: 0.577em 0.985em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover {
background-color: #444444
  }

  a:active {
box-shadow: none;
top: 5px;
  }
